<div class="full-page-container">

  <div class="full-page-container__content-wrapper">
    <mat-card class="full-page-container__content" style="max-width: 500px">
      <mat-form-field style="width: calc(50% - 0.75rem); margin-right: 1rem">
        <mat-select [(value)]="base" placeholder="Base">
          <mat-option *ngFor="let currency of currencies" [value]="currency.symbol">{{currency.label}}</mat-option>
        </mat-select>
      </mat-form-field>
      <mat-form-field style="width: calc(50% - 0.75rem);">
        <mat-select [(value)]="target" placeholder="Alvo">
          <mat-option *ngFor="let currency of currencies" [value]="currency.symbol">{{currency.label}}</mat-option>
        </mat-select>
      </mat-form-field>
      <div class="mat-typography">
        Valor calculado:
        <h1 class="mat-display-3">R$ 2.365,00</h1>
      </div>
    </mat-card>
  </div>
</div>
