.full-page-container {
  background-color: #4095f6;
  display: table;
  height: 100%;
  width: 100vw;
  overflow-x: hidden;
}

.full-page-container__content-wrapper {
  box-sizing: border-box;
  display: table-cell;
  vertical-align: middle;
  height: 100%;
}

mat-card {
  box-sizing: border-box;
  margin: 0 auto;
  overflow: hidden;
  padding: 0;
  max-width: 500px;
  width: 100vw;
  height: 100vh;
  min-height: 300px;
  max-height: 800px;
}

mat-card-content {
  padding: 1rem;
}

h1 {
  text-align: center;
}

#result {
  margin-top: 3rem;
}

#amount-input {
   margin-top: 1.5rem;
  font-size: 1.5rem;
}
